[[source]]
# url = "https://pypi.org/simple"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "*"
grpcio-tools = "*"

[dev-packages]
autopep8 = "*"
grpcio-tools = "*"

[requires]
python_version = "3.8"
